<div class="checkin-bg img-over-grad" style="background: url(../../../assets/img/checkin-bg.jpg);">
    <div class="col-33 align-center">
        <div class="checkin">
            <img src="../../../assets/img/checkin-img.png" class="check-img" alt="check in"/>
            <p>Lorem ipsum dolor consectetur adipiscing lorem.</p>
            <!--routerLink="/checkOut"-->
            <a class="btn-style checkin-btn w-100" (click)="checkin();" ><img src="../../../assets/img/icon/shield.svg" alt="icon" />Check In</a>
        </div>
    </div>
</div>