<div class="register-bg" style="background: url(../../assets/img/pattern.png);">
    <div class="col-33">
        <div class="register-design d-flex align-center">
            <div>
                <h2 class="title">Registration Form</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing vel auctor viverra lorem.</p>

                <form class="register-form">
                    <div class="form-grp icon-form">
                        <input type="text" placeholder="Username" class="text-box"/>
                        <span class="text-box-icon">
                            <img src="../../../assets/img/icon/user.svg"/>
                        </span>
                    </div>
                    <div class="form-grp icon-form">
                        <input type="email" placeholder="Email" class="text-box"/>
                        <span class="text-box-icon">
                            <img src="../../../assets/img/icon/mail.svg"/>
                        </span>
                    </div>
                    <div class="form-grp icon-form">
                        <input type="password" placeholder="Password" class="text-box"/>
                        <span class="text-box-icon">
                            <img src="../../../assets/img/icon/padlock.svg"/>
                        </span>
                    </div>
                    <button type="submit" class="btn-style w-100">Create</button>
                </form>

                <p class="register-link">Did you have account ? <a routerLink="/">Login</a></p>
            </div>
        </div>
    </div>
</div>