<div class="checkin-bg img-over-grad" style="background: url(../../../assets/img/checkout-bg.jpg);">
    <div class="col-33 align-center">
        <div class="checkin check-out">
            <img src="../../../assets/img/checkout-img.png" class="check-img" alt="check in"/>            
            <p>Lorem ipsum dolor consectetur adipiscing lorem.</p>
            <!--routerLink="/checkIn"-->
            <a class="btn-style checkout-btn w-100" (click)="checkout();"><img src="../../../assets/img/icon/logout.svg" alt="icon" />Check Out</a>
        </div>
    </div>
</div>